@font-face{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face{
	font-family: 'LucidaSans';
	src: url('../fonts/LucidaSans.ttf');
}
@font-face{
	font-family: 'PTSans-Regular';
	src: url('../fonts/PTSans-Regular.ttf');
}
@font-face{
	font-family: 'Segoe-WP';
	src: url('../fonts/Segoe-WP.ttf');
}
@font-face{
	font-family: 'Asap-Regular';
	src: url('../fonts/Asap-Regular.ttf');
}

html{
	height:100%;
}

body{
	width: 1300px;	
	min-height: 100%;
	height: auto;
	position: relative;
	color: rgb(255,255,255);
	background-color: rgb(255,255,255);
	margin: 0 auto;
	padding: 0;
	font-family: Lato-Regular, Verdana, sans-serif;
	font-size: 0;
	user-select: none;
	cursor: default;
}

.content-back-padding{
	height: 64px;
}

header{
	width: 1300px;
	margin: 0 auto;
	height: 566px;
	max-height: 566px;
	background-image: url('../img/Background_header.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(75,77,37);
}

header>div{
	padding-top: 10px;
}

header>div>div:first-child{
	width: 1020px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

header h1{
	height: 83px;	
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

h1 span{	
	font-family: LucidaSans, Arial, sans-serif;
	font-size: 40px;
	font-weight: 100;
	font-style: italic;
	color: white;	
}

h1 span:hover{	
	cursor: pointer;
}

.header-poster-container{
	height: 83px;
	width: 83px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/Shape_4.png');
	background-repeat: no-repeat;
}

.header-poster-container:hover{
	cursor: pointer;
}

.header-poster-container div{	
	height: 79px;
	width: 79px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/Shape_5.png');
	background-repeat: no-repeat;
}

header nav{
	display: flex;
	align-items: flex-end;
}

nav>div{
	background-color: rgba(245,197,6,0.5);
	position: relative;
	top: -10px;
	left: -10px;
}

nav>div>div{
	background-color: rgba(245,197,6,0.5);
	position: relative;
	top: 5px;
	left: 5px;
}

.nav-menu a{
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 18px;
	text-decoration: none;
	font-family: Segoe-WP, Arial, sans-serif;
	color: rgb(185,148,3);	
}

.nav-menu a:hover{	
	color: rgb(80,80,80);	
}

.nav-menu li{
	padding-right: 20px;
	background-color: rgb(245,197,6);
	border-left: 1px solid rgb(220,177,5);
}

.nav-menu li:first-child{
	padding-left: 30px;
	border: 0;
}

.nav-menu i{
	margin: 0 12px;
}

.nav-menu{
	width: 450px;
	height: 35px;
	display: flex;
	padding: 0;
	position: relative;
	top: 5px;
	left: 5px;
}

.header-slider{
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
}

.header-slider>div:first-child, .header-slider>div:last-child{
	height: 54px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(194,158,10);
	margin-bottom: 20px;
}

.header-slider>div:first-child:hover, .header-slider>div:last-child:hover{
	background-color: rgb(245,197,6);
}

.header-slider i{	
	font-size: 20px;		
}

.header-video-container{
	width: 1000px;
	display: flex;
	justify-content: space-between;
}

.header-video-container>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	padding-right: 10px;
}

.header-video-container h2{
	text-align: center;
	font-family: Asap-Regular, Arial, sans-serif;
	font-size: 64px;
	font-weight: 100;
	margin: 0;
}

.header-video-container h2>span{
	color: rgb(245,197,6);
}

.section-1{
	height: 212px;
	max-height: 212px;
	background-image: url('../img/Background_section-1.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(255,255,255);
	display: flex;	
	justify-content: center;
	align-items: center;
}

.section-1 div{
	width: 1020px;
	height: 100%;
	display: flex;
	justify-content: center;
}

.section-1 figure{
	width: 33%;
	margin: 0;
	padding: 0;
	border-left: 1px solid rgb(206,206,206);
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-1 figure:last-child{
	border-right: 1px solid rgb(206,206,206);
}

.section-1 figcaption{
	font-family: LucidaSans, Arial, sans-serif;
	font-size: 26px;
	font-weight: 100;
	color: rgb(62,62,62);
}

.section-1 a{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.section-1 a:hover{
	background-color: rgb(207,223,176);
}

.section-1 i{
	font-size: 100px;
	padding-top: 25px;
	color: rgb(245,197,6);
}

.section-2{
	height: 508px;
	max-height: 508px;
	background-image: url('../img/Background_section-2.png');
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-2>div{
	width: 1020px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-2 h4{
	align-self: flex-start;
	font-size: 36px;
	font-family: PTSans-Regular, Arial, sans-serif;
	font-weight: 100;
	margin: 0;
	padding-top: 20px;
}

.main-video-container{
	width: 100%;
	margin-bottom: 15px;
}

.main-video-container>div:first-child{
	height: 233px;
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}

.main-video-container article{
	display: flex;	
}

.social-container{
	width: 315px;
	height: 233px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(236,158,3);
}

.number-social-messages{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.number-social-messages span{
	font-family: Segoe-WP, Arial, sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-right: 20px;
}


.social-icon{
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 34px;
}

.social-icon i{
	color: rgb(193,128,0);
}

.social-control{
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px;
}

.social-control i{
	margin-bottom: 10px;
	margin-right: 10px;
}

.social-control i:hover{
	color: rgb(120,120,10);
}

.social-messages{
	display: none;
}

.descr-main-video-container{
	width: 340px;
	height: 233px;
	max-height: 233px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(236,158,3);
}

.descr-main-video-container p{
	height: 100%;
	overflow: hidden;
	font-family: Segoe-WP, Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 2em;
	margin: 20px 30px;
}

.date-container{
	height: 87px;
	width: 112px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	background-color: rgb(221,177,1);
}

.date-value{
	font-size: 44px;
	font-weight: 700;
}

.month-value{
	font-size: 18px;
	color: rgb(178,101,41);
}

.section-2 input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 80%;
}
.section-2 input[type=range]:focus {
	outline: none;
}
.section-2 input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: rgb(250,229,143);
	border-radius: 25px;
	border: 0px solid #000101;
}
.section-2 input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 16px;
	width: 200px;
	border-radius: 7px;
	background: rgb(236,158,3);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
}
.section-2 input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgb(250,229,143);
}

.section-3{
	height: 497px;
	max-height: 497px;
	background-image: url('../img/Background_section-3.png');
	background-size: cover;
	background-position: center;
	background-color: rgb(76,76,76);
	display: flex;	
	justify-content: center;
	align-items: center;
}

.section-3>div{
	width: 1000px;
	height: 100%;
}

.section-3 h3{
	font-family: PTSans-Regular, Arial, sans-serif;
	font-size: 42px;	
	font-weight: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 45px;
	color: rgb(245,197,6);
}

.section-3 article{	
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.section-3 article li{
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 1.9em;
	display: flex;
}

.section-3 article li:before{
	content:"\2022";
	color: rgb(245,197,6);
	padding-right: 20px;
	font-size: 56px;
}

.section-3 article ul{	
	width: 370px;
	list-style-type: none;
	padding: 0;
	margin-top: 30px;
}

.Image-screen-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.Image-screen-container>div{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.section-3 img{
	margin-left: 20px;
}

.section-3-circle{
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 350px;	
	border-radius: 50px;
	background-color: rgb(245,197,6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-3-circle span{
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-size: 14px;
	font-weight: 100; 
}

footer{
	width: 100%;
	max-width: 100%;
	height: 64px;
	max-height: 64px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	color: rgb(255,255,255);
	background-color: rgb(76,76,76);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid rgb(0,0,0);
}

footer>div{
	width: 1020px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer-poster-container{
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/Shape_6.png');
	background-repeat: no-repeat;
}

footer span{
	font-family: LucidaSans, Arial, sans-serif;
	font-size: 28px;
	font-weight: 100;
	font-style: italic;
}

.footer-poster-container div{	
	height: 51px;
	width: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/Shape_7.png');
	background-repeat: no-repeat;
}